.header{
    text-align: center;
    font-style: bold;
    font-size: 40px;
     color: white; 
    background-color: rgb(5, 9, 109);
}

body{
    background-image: url("https://img.freepik.com/free-vector/board-game-collection_23-2148681800.jpg?w=2000");
    background-size: 20%;
 
}

.gameboard{
    display: grid;
    grid-template-columns: repeat(7, 100px);
    grid-template-rows: repeat(6, 100px);
    width: 600px;
    height: 600px;
    margin: 0 auto;
    justify-content: center;
    background-color: rgb(5, 9, 109);
    
}

.cell{
    border: 5px solid rgb(5, 9, 109);
    background-color: white;
    border-radius: 50%;
    outline: 5px solid rgb(5, 9, 109);    
}

.cell:hover{
    background-color: rgb(203, 15, 175);
}